Importing the Libraries

In [134]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score, confusion_matrix

Data Collection and Preprocessing

In [135]:
# loading the diabetes dataset to a pandas DataFrame
diabetes_dataset = pd.read_csv('file_path.csv')

In [136]:
diabetes_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [137]:
# number of rows and Columns in this dataset
diabetes_dataset.shape

(768, 9)

In [138]:
# getting the statistical measures of the data
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [139]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 --> Non-Diabetic

1 --> Diabetic

In [140]:
# separating the data for analysis
Non_Diabetic = diabetes_dataset[diabetes_dataset.Outcome == 0]
Diabetic = diabetes_dataset[diabetes_dataset.Outcome == 1]

In [141]:
print(Non_Diabetic.shape)
print(Diabetic.shape)

(500, 9)
(268, 9)

In [142]:
# compare the values for both transactions
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [143]:
Non_Diabetic = Non_Diabetic.sample(n=268)

Concatenating two DataFrames

In [144]:
new_dataset = pd.concat([Non_Diabetic, Diabetic], axis=0)

In [145]:
new_dataset.head()

     Pregnancies  Glucose  ...  Age  Outcome
650            1       91  ...   23        0
654            1      106  ...   22        0
278            5      114  ...   57        0
572            3      111  ...   22        0
752            3      108  ...   25        0

[5 rows x 9 columns]

In [146]:
new_dataset.tail()

     Pregnancies  Glucose  ...  Age  Outcome
755            1      128  ...   37        1
757            0      123  ...   52        1
759            6      190  ...   66        1
761            9      170  ...   43        1
766            1      126  ...   47        1

[5 rows x 9 columns]

In [147]:
new_dataset['Outcome'].value_counts()

1    268
0    268
Name: Outcome, dtype: int64

In [148]:
new_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.291045  110.716418  ...                   0.41428  31.242537
1           4.865672  141.257463  ...                   0.55050  37.067164

[2 rows x 8 columns]

Splitting the data into Features & Targets

In [149]:
# separating the data and labels
X = new_dataset.drop(columns = 'Outcome', axis=1)
Y = new_dataset['Outcome']

In [150]:
print(X)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
650            1       91             54  ...  25.2                     0.234   23
654            1      106             70  ...  34.2                     0.142   22
278            5      114             74  ...  24.9                     0.744   57
572            3      111             58  ...  29.5                     0.430   22
752            3      108             62  ...  26.0                     0.223   25
..           ...      ...            ...  ...   ...                       ...  ...
755            1      128             88  ...  36.5                     1.057   37
757            0      123             72  ...  36.3                     0.258   52
759            6      190             92  ...  35.5                     0.278   66
761            9      170             74  ...  44.0                     0.403   43
766            1      126             60  ...  30.1                     0.349   47

[536 rows x 8 columns]

In [151]:
print(Y)

650    0
654    0
278    0
572    0
752    0
      ..
755    1
757    1
759    1
761    1
766    1
Name: Outcome, Length: 536, dtype: int64

Data Standardization

In [152]:
scaler = StandardScaler()

In [153]:
scaler.fit(X)

StandardScaler()

In [154]:
standardized_data = scaler.transform(X)

In [155]:
print(standardized_data)

[[-8.81229723e-01 -1.07689897e+00 -7.70280056e-01 ... -9.72865581e-01
  -7.44001440e-01 -9.54583480e-01]
 [-8.81229723e-01 -6.15198563e-01  2.88878318e-02 ...  1.83754974e-01
  -1.01956871e+00 -1.04015912e+00]
 [ 2.63834838e-01 -3.68958347e-01  2.28679804e-01 ... -1.01141960e+00
   7.83599705e-01  1.95498824e+00]
 ...
 [ 5.50100979e-01  1.97032371e+00  1.12774368e+00 ...  3.50822387e-01
  -6.12208400e-01  2.72516899e+00]
 [ 1.40889940e+00  1.35472317e+00  2.28679804e-01 ...  1.44318624e+00
  -2.37796355e-01  7.56929299e-01]
 [-8.81229723e-01  4.01977965e-04 -4.70592098e-01 ... -3.43149946e-01
  -3.99542358e-01  1.09923185e+00]]

In [156]:
X = standardized_data
Y = new_dataset['Outcome']

In [157]:
print(X)

[[-8.81229723e-01 -1.07689897e+00 -7.70280056e-01 ... -9.72865581e-01
  -7.44001440e-01 -9.54583480e-01]
 [-8.81229723e-01 -6.15198563e-01  2.88878318e-02 ...  1.83754974e-01
  -1.01956871e+00 -1.04015912e+00]
 [ 2.63834838e-01 -3.68958347e-01  2.28679804e-01 ... -1.01141960e+00
   7.83599705e-01  1.95498824e+00]
 ...
 [ 5.50100979e-01  1.97032371e+00  1.12774368e+00 ...  3.50822387e-01
  -6.12208400e-01  2.72516899e+00]
 [ 1.40889940e+00  1.35472317e+00  2.28679804e-01 ...  1.44318624e+00
  -2.37796355e-01  7.56929299e-01]
 [-8.81229723e-01  4.01977965e-04 -4.70592098e-01 ... -3.43149946e-01
  -3.99542358e-01  1.09923185e+00]]

In [158]:
print(Y)

650    0
654    0
278    0
572    0
752    0
      ..
755    1
757    1
759    1
761    1
766    1
Name: Outcome, Length: 536, dtype: int64

Train Test Split

In [159]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=0)

Training the Model: SVC

In [160]:
classifier = svm.SVC(kernel='linear')

In [161]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

In [162]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [163]:
print(training_data_accuracy)

0.7546728971962616

In [164]:
confusion_matrix_train=confusion_matrix(X_train_prediction, Y_train)
print(confusion_matrix_train)

[[171  62]
 [ 43 152]]

In [165]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [166]:
print(test_data_accuracy)

0.7777777777777778

In [167]:
confusion_matrix_test=confusion_matrix(X_test_prediction, Y_test)
print(confusion_matrix_test)

[[44 14]
 [10 40]]

Making a Predictive System

In [168]:
input_data = (5,166,72,19,175,25.8,0.587,51)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)

prediction = classifier.predict(std_data)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"